<a href="https://colab.research.google.com/github/jodfedlet/TCC/blob/main/TCCII/Twitter/get_tweets_until_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
tweets = pd.read_csv('/content/drive/My Drive/ColabNotebooks/all_tweets.csv', lineterminator='\n')

In [9]:
tweets.shape

(185222, 5)

In [10]:
tweets.head()

,Unnamed: 0,datetime,tweet_id,user_id,text
0,0,2022-05-04 23:53:10+00:00,1522001421394137091,47228873,E pensar que esse lixo ganhou proje√ß√£o com a e...
1,1,2022-05-04 23:51:39+00:00,1522001036034064385,1178827150281064448,nem recebi e j√° t√¥ duroü§£ü§£ü§¨
2,2,2022-05-04 23:43:08+00:00,1521998895974428674,1512826761893097478,miss√£o no Haiti https://t.co/8jT65Pw4aP
3,3,2022-05-04 23:37:47+00:00,1521997548562665472,1508472489244082180,@gen_heleno O sr foi expulso de uma miss√£o de ...
4,4,2022-05-04 23:33:41+00:00,1521996516554125312,1346126785394733058,@gen_heleno A mem√≥ria dos brasileiros est√° int...

In [11]:
tweets_until_dec_2021 = tweets.loc[tweets['datetime'] <= '2021-12-31']

In [12]:
tweets_until_dec_2021.shape

(174293, 5)

In [14]:
tweets_until_dec_2021.head()

,Unnamed: 0,datetime,tweet_id,user_id,text
10929,10929,2021-12-30 23:59:11+00:00,1476704451339640832,1907518614,@UOL ‚ÄúCapacetes brancos ajudaram no Haiti‚Äù. Pa...
10930,10930,2021-12-30 23:42:29+00:00,1476700246038257672,1306025410661158912,@Jezicacardoso1 @blitz1999_twins @Jacksontoled...
10931,10931,2021-12-30 23:22:01+00:00,1476695096603066369,2742994119,Tive a viagem de uber mais legal. O motorista ...
10932,10932,2021-12-30 22:48:50+00:00,1476686746708492290,912815654201380864,@_C4ssia Se puder ser convertido em kwacha zam...
10933,10933,2021-12-30 22:39:57+00:00,1476684512021172229,66831264,@AragaoMosart Tenente o ex√©rcito brasileiro fr...

In [ ]:
tweets_until_dec_2021

,Unnamed: 0,datetime,tweet_id,user_id,text
10929,10929,2021-12-30 23:59:11+00:00,1476704451339640832,1907518614,@UOL ‚ÄúCapacetes brancos ajudaram no Haiti‚Äù. Pa...
10930,10930,2021-12-30 23:42:29+00:00,1476700246038257672,1306025410661158912,@Jezicacardoso1 @blitz1999_twins @Jacksontoled...
10931,10931,2021-12-30 23:22:01+00:00,1476695096603066369,2742994119,Tive a viagem de uber mais legal. O motorista ...
10932,10932,2021-12-30 22:48:50+00:00,1476686746708492290,912815654201380864,@_C4ssia Se puder ser convertido em kwacha zam...
10933,10933,2021-12-30 22:39:57+00:00,1476684512021172229,66831264,@AragaoMosart Tenente o ex√©rcito brasileiro fr...
...,...,...,...,...,...
185217,185217,2018-01-01 11:15:07+00:00,947788269168857088,478396440,"Via #secoursdeshommes, asso #humanitaire #Guip..."
185218,185218,2018-01-01 10:30:07+00:00,947776946787831808,824618261392359425,A internet brasileira √© mais lenta que a da Et...
185219,185219,2018-01-01 04:46:44+00:00,947690530498138112,2654726438,https://t.co/1k54jvSxHj\n\nR√âGINE MINHA FADA D...
185220,185220,2018-01-01 01:10:25+00:00,947636095033970688,784508732969512960,@lmjrosez axanei de dedcobir q sei falat haitiano
185221,185221,2018-01-01 01:08:24+00:00,947635584792694785,4039768811,@signofzain anjo tava p traduzir do haitiano e...

In [15]:
tweets_until_dec_2021.tail()

,Unnamed: 0,datetime,tweet_id,user_id,text
185217,185217,2018-01-01 11:15:07+00:00,947788269168857088,478396440,"Via #secoursdeshommes, asso #humanitaire #Guip..."
185218,185218,2018-01-01 10:30:07+00:00,947776946787831808,824618261392359425,A internet brasileira √© mais lenta que a da Et...
185219,185219,2018-01-01 04:46:44+00:00,947690530498138112,2654726438,https://t.co/1k54jvSxHj\n\nR√âGINE MINHA FADA D...
185220,185220,2018-01-01 01:10:25+00:00,947636095033970688,784508732969512960,@lmjrosez axanei de dedcobir q sei falat haitiano
185221,185221,2018-01-01 01:08:24+00:00,947635584792694785,4039768811,@signofzain anjo tava p traduzir do haitiano e...

In [ ]:
df = pd.DataFrame(tweets_until_dec_2021)
df.to_csv('/content/drive/My Drive/ColabNotebooks/tweets_until_dec_2021.csv')